In [67]:
!pip install pymysql
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("mysql+pymysql://student2:eh2BjVEpYmDcT96E@data.engeto.com:3306/data_academy_02_2022")
query = 'SELECT * FROM edinburgh_weather'

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [70]:
engine = create_engine("mysql+pymysql://student2:eh2BjVEpYmDcT96E@data.engeto.com:3306/data_academy_02_2022")
query = 'SELECT * FROM edinburgh_weather'

In [71]:
data = pd.read_sql(sql=query, con=engine)

In [72]:
data.to_pickle("weather_first.pkl")

In [41]:
import pandas as pd
df = pd.read_pickle("/content/drive/MyDrive/Colab Notebooks/bikes/a_file.pkl")
dfw = pd.read_pickle("/content/drive/MyDrive/Colab Notebooks/bikes/w_file.pkl")

In [ ]:
df.info()

Frekvence měření v jeden den je 8 záznamů, které si upravím a odstraním noční časy

pouze od 6:00 do 21:00

In [42]:
dfw = dfw[dfw["time"].str.contains("00:00|03:00|06:00")==False]

In [1]:
dfw["datetime"].month

NameError: ignored

In [26]:
dfw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3960 entries, 3 to 6335
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   time      3960 non-null   object
 1   temp      3960 non-null   object
 2   feels     3960 non-null   object
 3   wind      3960 non-null   object
 4   gust      3960 non-null   object
 5   rain      3960 non-null   object
 6   humidity  3960 non-null   object
 7   cloud     3960 non-null   object
 8   pressure  3960 non-null   object
 9   vis       3960 non-null   object
 10  date      3960 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(10)
memory usage: 371.2+ KB

In [ ]:
V záznamech nejsou žádné chybějící údaje

In [13]:
dfw.isna().sum()

time        0
temp        0
feels       0
wind        0
gust        0
rain        0
humidity    0
cloud       0
pressure    0
vis         0
date        0
dtype: int64

In [14]:
dfw.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,time,temp,feels,wind,gust,rain,humidity,cloud,pressure,vis,date
count,6336,6336,6336,6336,6336,6336,6336,6336,6336,6336,6336
unique,8,31,32,581,74,106,60,101,88,4,792
top,00:00,9 °c,6 °c,12 km/h from WSW,26 km/h,0.0 mm,89%,100%,1016 mb,Excellent,2018-09-01 00:00:00
freq,792,531,471,72,212,4328,300,1285,227,5626,8
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-01 00:00:00
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-31 00:00:00

Odstraním feels, wind, humidity, cloud, pressure, vis

nejsou pro mě dulezite

In [47]:
dfw['wind'].str.extract('(\d+)').astype(float)

         0
3     14.0
4     15.0
5     14.0
6     12.0
7     11.0
...    ...
6331  21.0
6332  24.0
6333  42.0
6334  38.0
6335  36.0

[3960 rows x 1 columns]

In [43]:
dfw = dfw.drop(columns=["feels","humidity","cloud","pressure","vis"])

In [61]:
df2 = dfw.assign(temp_degree = dfw["temp"].str.extract('(\d+)').astype(int),
                 wind_km_h = dfw['wind'].str.extract('(\d+)').astype(int),
                 gust_km_h = dfw["gust"].str.extract('(\d+)').astype(int),
                 rain_mm = dfw["rain"].str.extract('(\d+)').astype(float)
                )

In [63]:
df2 = df2.drop(columns=["temp","wind","gust","rain"])

In [64]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3960 entries, 3 to 6335
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time         3960 non-null   object
 1   date         3960 non-null   datetime64[ns]
 2   temp_degree  3960 non-null   int64
 3   wind_km_h    3960 non-null   int64
 4   gust_km_h    3960 non-null   int64
 5   rain_mm      3960 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 216.6+ KB

In [66]:
df2.groupby("date").mean()

            temp_degree  wind_km_h  gust_km_h  rain_mm
date
2018-09-01         15.4       13.2       20.8      0.0
2018-09-02         18.4       16.0       25.0      0.0
2018-09-03         11.4        8.6       12.4      0.0
2018-09-04         13.6        5.0        6.6      0.0
2018-09-05         15.0       11.2       15.8      0.0
...                 ...        ...        ...      ...
2020-10-27          7.6       16.2       22.2      0.0
2020-10-28          7.4       25.0       33.0      0.2
2020-10-29          6.8       15.4       24.0      1.8
2020-10-30          9.2       15.4       20.4      0.0
2020-10-31         11.0       32.2       45.6      0.0

[792 rows x 4 columns]

Soubor obsahuje 6 336 záznamů od 01.09.2018 – 31.10.2020.

DF obsahuje 438 259 záznamů od 15.9. 2018 – 30.6 2021.

In [ ]:
df.info()

Analýza chybějících údajů
- v databázi nám chybí informace k:  
START_STATION_DESCRIPTION (2710 záznamů)   
END_STATION_DESCRIPTION (3003 záznamů)

In [ ]:
df.isna().sum()

In [ ]:
a = df.loc[ df['start_station_id'] == 247, 'started_at'].min()

In [ ]:
active = df.groupby("start_station_id").count().reset_index()

In [ ]:
active = active.start_station_id[active["started_at"] > 300]

In [ ]:
active

0       171
1       183
2       189
3       225
5       246
       ...
189    1869
190    1870
194    2259
195    2263
197    2268
Name: start_station_id, Length: 145, dtype: int64

In [ ]:
df.isin(active)

,index,started_at,ended_at,duration,start_station_id,start_station_name,start_station_description,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_description,end_station_latitude,end_station_longitude
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438254,False,False,False,False,False,False,False,False,False,False,False,False,False,False
438255,False,False,False,False,False,False,False,False,False,False,False,False,False,False
438256,False,False,False,False,False,False,False,False,False,False,False,False,False,False
438257,False,False,False,False,False,False,False,False,False,False,False,False,False,False
438258,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.groupby("start_station_id").agg({'duration' : 'mean', 'started_at' : 'count'}).sort_values(by="started_at").head(40)

                      duration  started_at
start_station_id
1857                296.000000           1
1740                770.000000           1
241                 100.000000           2
1057               1716.000000           2
299                1709.000000           3
1056              12568.333333           3
365                 121.400000           5
1032               2368.166667           6
964                1600.166667           6
980                3354.166667           6
1746               4826.000000           9
982                3276.727273          11
875                2585.666667          18
891                1489.157895          19
297                2033.842105          19
965                1901.565217          23
901                1563.880000          25
1031               1856.344828          29
1040               2783.222222          36
883                3066.461538          39
981                5580.166667          42
991                1358.418605          43
353                5739.777778          45
267                1606.666667          45
1724               2773.711111          45
871                2190.695652          46
1030               1548.574468          47
863                2556.471698          53
1094               2827.072727          55
872                1966.821429          56
864                2561.467742          62
1723               2544.059701          67
878                2311.600000          85
867                2011.681319          91
1033               3052.655914          93
1041               3557.990196         102
880                2189.697248         109
1018               1410.383333         120
869                1492.471545         123
1871               3836.156250         128

In [ ]:
df.sort_values(by="started_at")

,index,started_at,ended_at,duration,start_station_id,start_station_name,start_station_description,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_description,end_station_latitude,end_station_longitude
0,0,2018-09-15 08:52:05,2018-09-15 09:11:48,1182,247,Charlotte Square,North Corner of Charlotte Square,55.952335,-3.207101,259,St Andrew Square,North East corner,55.954728,-3.192653
1,1,2018-09-15 09:24:33,2018-09-15 09:41:09,995,259,St Andrew Square,North East corner,55.954749,-3.192774,262,Canonmills,near Tesco's,55.962804,-3.196284
2,2,2018-09-15 09:48:54,2018-09-15 10:46:40,3466,262,Canonmills,near Tesco's,55.962804,-3.196284,250,Victoria Quay,Entrance to Scottish Government Office,55.977638,-3.174116
3,3,2018-09-16 12:01:36,2018-09-16 12:25:26,1430,255,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902,254,Kings Building 3,Kings Building House,55.923479,-3.175385
4,4,2018-09-16 12:03:43,2018-09-16 12:11:16,452,255,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902,253,Kings Building 2,Sanderson Building,55.923202,-3.171646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438254,12636,2021-06-30 23:30:31,2021-07-01 00:06:10,2139,1090,Hillside Crescent,East end of Hillside Crescent,55.957872,-3.175888,1728,Portobello - Kings Road,Foot of Kings Road next to the promenade,55.957915,-3.118332
438255,12637,2021-06-30 23:36:16,2021-07-01 00:05:40,1763,1814,Abbeyhill,Near Abbey Mount,55.955248,-3.172216,1728,Portobello - Kings Road,Foot of Kings Road next to the promenade,55.957915,-3.118332
438256,12638,2021-06-30 23:49:03,2021-07-01 00:11:25,1342,256,St Andrews House,beside Jacobs ladder,55.953164,-3.181682,1091,Holyrood Road,Opposite St Leonards Land,55.949560,-3.180413
438257,12639,2021-06-30 23:49:03,2021-07-01 00:11:52,1369,256,St Andrews House,beside Jacobs ladder,55.953164,-3.181682,1091,Holyrood Road,Opposite St Leonards Land,55.949560,-3.180413
438258,12640,2021-06-30 23:58:33,2021-07-01 00:07:15,522,247,Charlotte Square,North Corner of Charlotte Square,55.952335,-3.207101,1769,Brunswick Place,Corner of Elm Row/Brunswick Street,55.960852,-3.180986

In [ ]:
df.groupby("start_station_id").count().sort_values(by="index").head(100)

,index,started_at,ended_at,duration,start_station_name,start_station_description,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_description,end_station_latitude,end_station_longitude
start_station_id,,,,,,,,,,,,,
1857,1,1,1,1,1,1,1,1,1,1,1,1,1
1740,1,1,1,1,1,1,1,1,1,1,1,1,1
241,2,2,2,2,2,2,2,2,2,2,2,2,2
1057,2,2,2,2,2,2,2,2,2,2,2,2,2
299,3,3,3,3,3,3,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,1007,1007,1007,1007,1007,1007,1007,1007,1007,1007,1007,1007,1007
357,1015,1015,1015,1015,1015,1015,1015,1015,1015,1015,1015,1015,1015
345,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030
1869,1058,1058,1058,1058,1058,1058,1058,1058,1058,1058,1058,1058,1058
881,1071,1071,1071,1071,1071,1071,1071,1071,1071,1071,1071,1071,1071